@charset "UTF-8";

body {
	margin: 0 auto;
	font-size: 18px;
}

#ct {
	font-size: 30px;
	color: white;
}

}
#l {
	display: inline;
}

#x {
	position: absolute;
	top: 51px;
	width: 265px;
	height: 87%;
	font-size: 16px;
	/* 	border: 3px #12B7F5 solid;  */
}

ul, li {
	margin: 0;
	list-style: none;
	text-align: center;
}