<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>欢迎登陆会议管理系统</title>
<!-- Bootstrap core CSS -->
<link type="text/css" rel="stylesheet" href="/css/signess.css">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

</head>
<body>
	  <div class="container">
      		<h1>
      			你没有权限访问该业务
      		</h1>
      		<img src="/static/imgaes/markjacker.gif" style="background-size:100%;">
   	  </div> <!-- /container -->
</body>
</html>