<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>欢迎登陆会议管理系统</title>
<!-- Bootstrap core CSS -->
<link type="text/css" rel="stylesheet" href="/css/signess.css">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

</head>
<style type="text/css">
body {
	background-image: url(/images/images3.jpg);
	background-repeat: no-repeat;
	background-size:100%;
}
</style>

<body>
	  <div class="container">
      <form class="form-signin" th:action="@{/manager/yuyue}" method="post">
        <h2 class="form-signin-heading" th:text="#{login.System}" style="text-align:center">Meeting reservation system</h2>
        <h3 th:if="${msg!=null}" th:text="${msg}" style="text-align:center;color:red"></h3>
       	<!-- 账号 -->
        <label for="inputUsername" class="sr-only" th:text="#{login.Username}">Username</label>
        <input class="form-control" type="text" name="username"
				th:placeholder="#{login.Username}" required autofocus>
		<!-- 密码 -->
        <label for="inputPassword" class="sr-only" th:text="#{login.Password}">Password</label>
        <input class="form-control"
				type="password" name="password"  th:placeholder="#{login.Password}" required>
		<!-- 登陆 -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 5px;" th:text="#{login.Signin}">Sign in</button>
     	  <a th:href="@{/manager/index(l='zh_CN')}" style="font-size:20px;color: #b73333;margin-right:3px;margin-left:150px;">中文</a>
    	  <a th:href="@{/manager/index(l='en_US')}" style="font-size:20px;color: #b73333;">English</a>
      </form>
    
    </div> <!-- /container -->
</body>
</html>