<meta charset="UTF-8">
<script type="text/javascript" src="/js/time.js"></script>
<script type="text/javascript" src="/js/time.js"></script>
<style type="text/css">
body {
	margin: 0 auto;
	font-size: 16px;
}

#ct {
	font-size: 30px;
	color: white;
}

#l {
	display: inline;
}

#x {
	position: fixed;
	top: 51px;
	width: 265px;
	height: 100%;
	border: 3px #12B7F5 solid;
}

ul, li {
	margin: 0;
	list-style: none;
	text-align: center;
}
</style>

<div xmlns:th="http://www.thymeleaf.org">
	<div class="container-fluid" th:fragment="header">
		<div class="navbar-header">
			<a class="navbar-brand" style="font-size: 30px;">CRBS-会议预约管理系统</a>
		</div>
		
		<div id="navbar" class="navbar-collapse collapse">
			<!-- <div id="times" style="background:#000; color:#FFF">111</div> -->
			<!-- <div id="times" style="background:#000; color:#FFF">111</div> -->
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a  id="times"></a>
				</li>
				<!-- <li><a th:text="${session.user?.managerName?}"></a></li> -->
				<li><a th:if="${session.Employee!=null}"
					th:text="${session.Employee.employeeName}"></a>
				<li>
				<li><a th:href="@{/manager/}">退出管理系统</a></li>
			</ul>
		</div>
	</div>
</div>

