<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会议室管理</title>
<style type="text/css">
body {
	margin: 0 auto;
	font-size: 16px;
}

#ct {
	font-size: 30px;
	color: white;
}

}
#l {
	display: inline;
}

#x {
	position: absolute;
	top: 51px;
	width: 265px;
	height: 87%;
	font-size: 16px;
	/* 	border: 3px #12B7F5 solid;  */
}

ul, li {
	margin: 0;
	list-style: none;
	text-align: center;
}
</style>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>
	<!--头部-->
	<nav class="navbar navbar-inverse navbar-fixed-top"
		style="background: #23527C; position: absolute;">
		<div th:replace="common/header :: header"></div>
	</nav>
	<!-- 	左边start  -->
	<div id="x">
		<div th:replace="common/left :: left"></div>
	</div>
	<!-- 	左边end -->
	<div
		style=" position: absolute; left: 263px; top: 51px; width: 1300px;text-align: center;">
		<form th:action="@{/croom/addroom}" method="post">
		<table  style="text-align: center;margin: auto;">
			<tr >
				<td style="width: 150px; height: 60px;font-size: 20px;font-weight: bold;" colspan="2">添加会议室</td>
				
			</tr>
			<tr>
				<td style="width: 150px;height: 50px;font-size: 16px;">会议室名称:</td>
				<td><input class="form-control" name="boradroomName" type="text" placeholder="例如：第一会议室" maxlength="20" /></td>
			</tr>
			<tr>
				<td style="width: 150px;height: 50px;font-size: 16px;">会议室类型:</td>
				<td><input class="form-control" name="boradRoomType" type="text" placeholder="例如：小型会议室，中型会议室，大型会议室" maxlength="20" /></td>
			</tr>
			<tr>
				<td style="width: 150px;height: 50px;font-size: 16px;">最多容纳人数：</td>
				<td><input class="form-control" name="boradRoomNumber" type="text" placeholder="填写一个正整数" /></td>
			</tr>
			<tr>
				<td style="width: 150px;height: 50px;font-size: 16px;">当前状态：</td>
				<td>
				<input type="radio" id="status" name="boradRoomStatus" checked="checked" value="启用" />
				<label for="status">启用</label>
				<input type="radio" id="status" name="boradRoomStatus" value="停用"/>
				<label for="status" >停用</label> 
<!-- 				<input type="radio" id="status" name="status" /> -->
<!-- 				<label for="status" value="-1">删除</label> -->
				</td>
			</tr>
			<tr>
				<td style="width: 150px;height: 150px;font-size: 16px;">备注：</td>
				<td><textarea class="form-control" name="boradRoomreMark" maxlength="200" rows="5" cols="60" placeholder="200字以内的文字描述"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" >
				<input type="submit" value="添加" class="btn btn-info" style="margin-right: 20px;"/>
				<input type="reset" value="重置" class="btn btn-warning"/>
				</td>
			</tr>
		</table>
		</form>
	</div>
	<script type="text/javascript">
		function clickHandler(e) {
			var v11 = document.getElementById(e);
			if (v11.style.display == "block") {
				v11.style.display = "none";
			} else {
				v11.style.display = "block";
			}
		}
	</script>
</body>
</html>