<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>jeDate日期控件(原生JS) - 演示</title>
<link type="text/css" rel="stylesheet"
	href="/jedate-6.5.0/test/jeDate-test.css">
<!--界面样式 -->
<link type="text/css" rel="stylesheet"
	href="/jedate-6.5.0/skin/jedate.css">
<!--日历样式  -->
<script type="text/javascript" src="/jedate-6.5.0/src/jedate.js"></script>
<script type="text/javascript" src="/js/clickHandler.js"></script>
</head>
<body>
	<div class="jeitem">
		<div class="jeinpbox">
			<input type="text" class="jeinput" id="testico"
				placeholder="YYYY-MM-DD">
			<div class="icons jebtns"
				onclick="jeDate('#testico',{trigger:false,format: 'YYYY-MM-DD hh:mm'})"></div>
		</div>
	</div>
</body>
</html>